*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.activeLink {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
}

.loadingScreen > .main {
  position: fixed;
  background: transparent;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Editor */
.editorHeigh > .ql-container.ql-snow {
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
}

.editorHeigh > .ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0;
}

.editorHeigh > .ql-container.ql-snow {
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
}

.valitationError {
  border: 1px solid #d32f2f;
  border-radius: 5px;
  animation-name: bounce;
  animation-duration: 0.3s;
}
.valitationError > .ql-toolbar.ql-snow {
  border: 0px;
  border-bottom: 1px solid #d32f2f;
}
.valitationError > .ql-container.ql-snow {
  border: 0px;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-7px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-6px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

/* jobs */

.job {
  display: grid;
  grid-template-areas:
    "id-ext-date"
    "status"
    "contact"
    "info"
    "buttons";
}
.job > .id-ext-date {
  grid-area: id-ext-date;
}
.job > .status {
  grid-area: status;
}
.job > .contact {
  grid-area: contact;
}
.job > .buttons {
  grid-area: buttons;
}
.job > .info {
  grid-area: info;
}

.job > .id-ext-date,
.job > .status,
.job > .contact,
.job > .buttons,
.job > .info {
  padding: 0.5rem;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

.job > .id-ext-date {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.job > .id-ext-date > div {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}

.job > .id-ext-date > div:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.job > .status,
.job > .buttons {
  text-align: center;
}

.job > .info .simple-editor .ql-editor {
  padding: 0;
  max-height: 7rem;
  overflow-y: auto;
}

.job > .info .simple-editor .ql-tooltip {
  display: none;
}
