@import "./colors.scss";
@import "./utils.scss";

*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//   line-height: 1.6;
//   //font-size: 18px;
//   min-height: 100vh;
// }

$primary: #194b62;
$primary-btn: #000000;

.color-2-hex {
  color: #40c4ff;
}
.color-3-hex {
  color: #f5933c;
}
.color-4-hex {
  color: #f3571e;
}
